#header-help{
	padding: 1em;
	border-bottom: 4px solid #A80000;
	color: #A80000;
	font-family: 'Quicksand';
	max-width: 1200px;
}

#help-logo{
	width: 90px;
	height: 90px;
	float:left;
	margin-right: 1em;
}

.help-container{
	max-width: 1200px;
	margin-bottom: 2em;
	font-family: 'Quicksand';
	position: relative;

}

#help-notif{
	background: -moz-linear-gradient(top, rgba(157,213,58,1) 0%, rgba(161,213,79,1) 26%, rgba(128,194,23,1) 65%, rgba(128,194,23,1) 86%, rgba(124,188,10,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(157,213,58,1)), color-stop(26%,rgba(161,213,79,1)), color-stop(65%,rgba(128,194,23,1)), color-stop(86%,rgba(128,194,23,1)), color-stop(100%,rgba(124,188,10,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 26%,rgba(128,194,23,1) 65%,rgba(128,194,23,1) 86%,rgba(124,188,10,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 26%,rgba(128,194,23,1) 65%,rgba(128,194,23,1) 86%,rgba(124,188,10,1) 100%); /* Opera 11.10+ */
	height: 50px;
	text-align:center;
	margin-top: 1em;
	padding: 0.1em;
	display: none;
}

.help-container table td{
	padding: 1em;
}
	
.other-info{
	font-style: italic;
	font-size: 15px;
}

/*----------USER FAQs----------*/
.help-container-left{
	/*border: 1px solid green;*/
	width: 77%;
	padding: 1em;
}

#search-div{
	margin-top: 1em;
	/*border: 1px solid black;*/
}

#search-div textarea{
	width: 40em;
	height: 1.75em;
}

#browse-category{
	/*border: 1px solid blue;*/
	margin-top: 2em;
}

#browse-category ul>li{
	text-align: center;
	display: inline-block;
	margin: 1em;
	padding: 0.5em 2em;
	color: black;
	/*height: 3em;*/
	/*border: 1px solid black;*/
}

#browse-category li:hover{
	border-bottom: 2px solid #A80000;
	color: #A80000;
	cursor: pointer;
}

#help-container-right{
	/* border: 1px solid red; */
	/*background: rgb(250,250,250);*/
	width: 23%;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0.25em;
}

#ask-div{
	border: 1px solid green;
	margin-bottom: 0.5em;
	border-radius: 10px;
	padding: 0.5em;
}

#top-quest{
	border: 1px solid blue;
	border-radius: 10px;
	padding: 0.5em;
}

#top-quest li{
	color: blue;
}

#top-quest li:hover{
	cursor: pointer;

}

#browse-category li{
	list-style: none;
}

#top-quest li, #ask-div p{
	font-size: 0.9em; 
}

#top-quest ul{
	padding: 0em 1.5em;
}